body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-wrapper {
  position: relative;
  width: fit-content;
  border: 2px solid red
}

.pointer {
  position: absolute;
  width: 10px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.385);
  border-radius: 20px;
}

.tool-tip {
  position: absolute;
  cursor: pointer;
  display: none;
  min-width: 50px;
  color: white;
  font-size: small;
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 2px;
  padding: 0 10px;
}

.pointer:hover {
  background-color: rgba(255, 255, 255, 0.944);
}

.pointer:hover .tool-tip {
  display: block;
}

/* Image classfication */

h1 {
  font-style: italic;
  color: orange;
}

canvas {
  display: block;
  width: 28px;
  height: 28px;
  margin: 18px auto 5px auto;
  zoom: 6;
}


p#prediction {
  font-size: 20pt;
  margin: 16px;
  text-align: center;

}

p#prediction.correct {
  border: 3px solid green;
  color: #8affea;
  font-size: 108pt;

}

p#prediction.wrong {
  border: 3px solid red;
  color: rgba(255, 0, 0, 0.738);
  font-size: 108pt;
}

p {
  margin: 5px;
}

.box {
  width: 45%;
  margin: 1%;
  border: 1px dashed greenyellow;
  display: inline-block;
  min-height: 428px;
  text-align: center;
  float: left;

}

/* Mobilenet */

video {
  clear: both;
  display: block;
  margin: 10px;
  background: #000000;
  width: 640px;
  height: 480px;

}

button {
  padding: 10px;
  float: left;
  margin: 5px 3px 5px 10px;

}

.removed {
  display: none;
}

#status {
  font-size: 150%;

}

/* Comment spam detection */